<app-loading-spinner *ngIf="showSpinner"></app-loading-spinner>

<html>
  <head>
    <title>Airport list</title>
  </head>

<div >
  <div  *ngIf="!showSpinner" >

<h1 align="center">
    List of Airports
  </h1>
  <table   style="width: 100%">
    <tr>
       
      <th>Airportname</th>
      <th>region </th>
      <th>country </th>
      <th>city </th>
    </tr>
    <tr *ngFor="let airport of airports">
    
      <td align="center">{{ airport.airportName }}</td>    
      <td align="center">{{ airport.region.regionName}}</td>
      <td align="center"> {{ airport.country.countryName}}</td>
      <td align="center">{{ airport.city.cityName }}</td>
      
      <button class="common-btn btn" (click)="displayDetail(airport.city.timeZoneName, airport.location.aboveSeaLevel)">>></button>
    </tr>
  </table>
</div>
</div>
</html>
